body {
  margin: 0;
  padding: 0;
  background-color: rgb(209, 207, 207);
}

nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: relative;
  background-color: rgb(129, 126, 126);
}

.brand {
  position: relative;
  left: -25%;
  color: rgb(178, 204, 33);
  font-family: monotype corsiva;
  font-size: 2em;
}

.button {
  margin: auto 15px;
  display: flex !important;
  justify-content: flex-end;
}

.button a {
  padding: 7px 30px;
  position: relative;
  display: inline-block;
  color: #28e7ed;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-size: 13px;
  overflow: hidden;
  transition: 0.2s;
}

.button a:hover {
  color: #255784;
  background: #28e7ed;
  box-shadow: 0 0 10px #28e7ed, 0 0 40px #28e7ed, 0 0 80px #28e7ed;
  transition-delay: 1s;
}

.button a span {
  position: absolute;
  display: block;
}

.button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #28e7ed);
}

.button a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.button a span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button a span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

h3 {
  margin: 2vw;
  display: flex;
  justify-content: center;
  /* transform: translate(0, 50%); */
  font-family: monotype corsiva;
  font-size: 11mm;
}

h3:hover {
  color: #fff;
  text-shadow: 0 0 40px #000, 0 0 10px #000, 0 0 20px #000;
}

.search {
  margin: auto 0;
  margin-right: 11vw;
  position: relative;
  display: flex;
  justify-content: center;
}

a {
  color: #000;
  text-decoration: none;
}