* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(209, 207, 207); */
  font-family: lucida calligraphy;
}


/* Navbar */

nav {
  padding: 10px;
  width: 100vw;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(129, 126, 126, 0.05)), to(rgba(0, 0, 0, 0.5)));
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  margin-left: 10vw;
  color: rgb(217, 255, 0);
  font-family: monotype corsiva;
  font-size: 2em;
}

.brand:hover {
  color: #fff;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 40px #000, 0 0 40px #000;
}

.button {
  margin: auto 30px;
  display: flex !important;
  justify-content: flex-end;
}

.button a {
  padding: 7px 20px;
  position: relative;
  display: inline-block;
  color: #e5ff00;
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
  font-family: als script;
  font-size: 22px;
  overflow: hidden;
  transition: 0.2s;
}

.button a:hover {
  color: #255784;
  background: #28e7ed;
  font-weight: bold;
  box-shadow: 0 0 10px #28e7ed, 0 0 40px #28e7ed, 0 0 80px #28e7ed;
  transition-delay: 1s;
}

.button a span {
  position: absolute;
  display: block;
}

.button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #28e7ed);
}

.button a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.button a span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button a span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #28E7ED);
}

.button a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/* Navbar End */


/* Background */

section {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  /* position: absolute; */
  top: 100px;
  left: -40px;
  width: 400px;
  height: 400px;
  background: #ff359b;
}

section .color:nth-child(2) {
  bottom: -150px;
  width: 500px;
  height: 500px;
  background: #fffd87;
}

section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}

.box {
  position: relative;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(156, 54, 54, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 5s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.box .square:nth-child(4) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}


/* End Background */

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(156, 54, 54, 0.2);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

header {
  /* margin: 2vw; */
  display: flex;
  justify-content: center;
  /* transform: translate(0, 50%); */
  font-family: vivaldi;
  font-size: 12mm;
  letter-spacing: 1px;
}

h3 {
  margin: 0;
}

h3:hover {
  color: #fff;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 20px #000, 0 0 40px #000;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  /* padding: 10px; */
}

.search-box:hover>.keyword {
  width: 300px;
  padding: 0 15px;
  color: rgb(229, 255, 0);
  cursor: auto;
}

.search-box:hover>.tombol {
  background: white;
  color: #28E7ED;
  /* cursor: pointer; */
}

.keyword {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}

.tombol {
  color: rgb(229, 255, 0);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}


/* .tombol-cari .container {
  font-size: 5mm;
} */

.number {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

footer {
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.5)));
}

.icon {
  /* margin-left: 30px; */
  font-size: 6mm;
}

.sosmed {
  margin: 0 10px;
}

.icon .sosmed:nth-child(1):hover {
  color: red;
  transition: 1s;
}

.icon .sosmed:nth-child(2):hover {
  color: rgb(188, 62, 219);
  transition: 1s;
}

.icon .sosmed:nth-child(3):hover {
  color: rgb(96, 194, 250);
  transition: 1s;
}

.icon .sosmed:nth-child(4):hover {
  color: rgb(15, 83, 230);
  transition: 1s;
}

footer p {
  /* margin: 10px; */
  position: absolute;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, 0);
  text-align: center;
}

footer p:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #fff;
  color: #fff;
}